.InspectionForm {
  display: flex;
  justify-content: center;

  &_input {
    padding: 15px;
    min-width: 350px;
    border-radius: 3px;
    color: #181818;
  }

  &_label {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  button {
    margin-left: 7px;
  }
}
