.button {
  display: inline-block;
  border: 0;
  background-color: #005fbd;
  font-weight: 700;
  color: #fff;
  cursor: pointer;

  &--md {
    padding: 8px 25px;
    font-size: 16px;
    border-radius: 3px;
  }

  &--lg {
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 5px;
  }
}
