.ContactForm {
  &___inline {
    text-align: center;
  }

  h3 {
    color: #181818;
    margin-bottom: 50px;
  }

  button {
    margin-top: 50px;

    &[aria-label="focus"],
    &[aria-label="clear"] {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }

  &_field:not(:last-of-type) {
    margin-bottom: 30px;
  }
}
