.CovidWarning {
  text-align: center;
  padding: 10px;
  border: 2px solid #c63030;

  &_icon {
    width: 40px;
  }

  h3 {
    color: #c63030;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  p {
    font-weight: 500;
  }
}
