@import "../../../../index.scss";

.MobileNavigation {
  display: none;
  text-align: center;

  @include tablet-lg {
    display: block;
  }

  &_toggleButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7px;
    height: 43px;
    border-radius: 3px;
    border: 2px solid #005fbd;

    @include mobile-md {
      left: unset;
      right: 0;
      transform: translate(-15px, -50%);
    }

    img {
      width: 25px;
    }
  }

  &_links {
    margin-top: 20px;
  }

  &_link {
    display: inline-block;
    position: relative;
    font-size: 22px;
    color: #005fbd;
    width: 100%;
    padding: 5px;
    border: 2px solid rgba(0, 94, 189, 0.12);
    border-radius: 3px;

    &[active="true"] {
      border-color: #005fbd;
    }

    &Container {
      width: 100%;

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }
}
