@import "../../../index.scss";

.Form {
  &___inline {
    text-align: center;
  }

  h3 {
    color: #181818;
    margin-bottom: 50px;
  }

  button {
    margin-top: 50px;

    @include mobile-md {
      margin-top: 30px;
    }

    &[aria-label="focus"],
    &[aria-label="clear"] {
      transform: translateY(-5px);
    }
  }

  &_field:not(:last-of-type) {
    margin-bottom: 30px;

    @include mobile-md {
      margin-bottom: 20px;
    }
  }
}
