.Header {
  position: relative;
  padding: 100px 20px;
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.7);

  &_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &_textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1,
    h3 {
      color: #fff;
      text-align: center;

      &:last-of-type {
        margin-bottom: 15px;
      }
    }
  }
}
