@import "../../../index.scss";

.Field {
  max-width: 100%;

  &_label {
    &___inline {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    &___box {
      display: block;
      margin-bottom: 5px;

      @include mobile-md {
        margin-bottom: 0;
      }
    }
  }

  &_input {
    &:valid {
      border-color: #005fbd;
    }

    &:not(:valid) {
      border-color: #c63030;
    }
  }

  &_input,
  &_textarea {
    display: block;
    width: 100%;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    color: #181818;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: #181818;
      box-shadow: none;
      -webkit-box-shadow: none;
      transition: background-color 5000s ease-in-out 0s;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #929292;
    }

    &:placeholder-shown {
      border-color: #929292;
    }

    &:read-only {
      border-color: #005fbd;
      opacity: 0.5;
    }

    &___inline {
      padding: 0 0 7px 0;
      height: fit-content;
      border: 0;
      border-bottom: 2px solid #929292;
    }

    &___box {
      padding: 15px;
      border: 1px solid #929292;
      border-radius: 4px;

      @include mobile-md {
        padding: 7px 10px;
      }
    }
  }

  &_textarea {
    max-height: 300px;

    &___inline {
      max-width: 300px;
      min-width: 300px;
      min-height: 30px;

      @include mobile-md {
        max-width: 250px;
        min-width: 250px;
      }

      @include mobile-sm {
        max-width: 200px;
        min-width: 200px;
      }
    }

    &___box {
      max-width: 460px;
      min-width: 460px;
      min-height: 52px;

      @include mobile-lg {
        max-width: 100%;
        min-width: 100%;
      }
    }
  }
}
