.navigation {
  height: 85px;
  padding-bottom: 30px;
  margin: 30px;
  border-bottom: 2px solid #eee;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__group {
    display: flex;
    align-items: center;
  }

  &__link {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    color: #181818;
    padding: 0 7px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    transition: border-color 0.25s ease;

    &:hover {
      border-color: #005fbd;
    }

    &-container {
      &:not(:last-of-type) {
        margin-right: 25px;
      }
    }
  }
}
