.header {
  position: relative;
  padding: 100px 0;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0 20px;

  &,
  &__background {
    border-radius: 7px;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &__text-container {
    display: flex;
    color: #fff;

    &-item {
      width: 50%;
    }
  }
}
