@import "../../../index.scss";

@keyframes scrollIn {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.Navigation {
  position: relative;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  height: 85px;
  padding: 20px 30px 80px;
  margin-bottom: -100px;

  @include mobile-lg {
    margin-bottom: -80px;
  }

  &[fixed="true"] {
    position: fixed;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
    animation: scrollIn 0.25s ease;
  }

  @include laptop {
    padding: 20px 0 80px;
  }

  &_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_group {
    display: flex;
    align-items: center;

    button {
      @include mobile-md {
        display: none;
      }
    }
  }

  &_link {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    color: #181818;
    transition: border-color 0.25s ease;

    &::after {
      position: absolute;
      content: "";
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #005fbd;
      transition: width 0.25s ease;
    }

    &:hover::after,
    &[active="true"]::after {
      width: 30px;
    }

    &Container {
      margin-left: 40px;

      &:last-of-type {
        margin-right: 40px;
      }

      @include tablet-lg {
        display: none;
      }
    }
  }
}
