.Navigation {
  height: 85px;
  padding-bottom: 30px;
  margin: 30px;
  border-bottom: 2px solid #eee;
  &_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_group {
    display: flex;
    align-items: center;
  }

  &_link {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    color: #181818;
    transition: border-color 0.25s ease;

    &::after {
      position: absolute;
      content: "";
      bottom: -3px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 1px;
      background-color: #005fbd;
      transition: width 0.25s ease;
    }

    &:hover::after,
    &[active="true"]::after {
      width: 50%;
    }

    &Container {
      &:not(:last-of-type) {
        margin-right: 35px;
      }
    }
  }
}
