* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  line-height: 1.48;

  &::-webkit-scrollbar {
    background-color: #fff;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #005fbd;
    border-radius: 4px;
  }
}

body,
button,
input,
textarea {
  font-family: "Roboto", sans-serif;
}

main {
  margin-top: 120px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  display: inline-block;
  border: 0;
  outline: none;
}

h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 5px;
}

h2 {
  font-weight: 400;
  font-size: 30px;
}

h3 {
  font-weight: 400;
  font-size: 22px;
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
}

.ap-dropdown-menu {
  height: 0;
  padding-bottom: 230px;
}
