@import "../../../../index.scss";

.Input {
  &___inline {
    padding: 0 0 7px 0;
    height: fit-content;
    border: 0;
    border-bottom: 2px solid #929292;
  }

  &___box {
    padding: 15px;
    border: 1px solid #929292;
    border-radius: 4px;

    @include mobile-md {
      padding: 7px 10px;
    }
  }

  &:valid {
    border-color: #005fbd;
  }

  &:not(:valid) {
    border-color: #c63030;
  }
}
